* {
    padding: 0;
    margin: 20px;
}

li {
    border: 1px solid black;
    padding: 10px;
    margin: 0;
    list-style: none;
}

li * {
    display: inline;
}

.description {
    display: none;
}

.color {
    color: teal;
}

.blockstyle{

    display: block;
}